
.album-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.album-item {
    cursor: pointer;
    transition: transform 0.2s;
}
.album-item:hover {
    transform: scale(1.05);
}

body {
    background-image: url("./MusicCase.png");
    background-size: auto;
    background-position: center top;
    background-repeat: repeat-y; /* Only repeat vertically */
    overflow-y: hidden;
    overflow-x: hidden;
    min-height: 100vh;
}